* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  background: #2196f3;
}

h4 {
  font-weight: 700;
  color: #656565;
  text-align: center;
}
@media screen and (max-width: 750px) {
  body {
    height: auto;
    min-height: 100vh;
    background: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 820px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  animation: fadein 1s;
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    box-shadow: none;
    animation: none;
  }
}

@media screen and (max-height: 800px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    box-shadow: none;
    animation: none;
  }
}

.wrapper__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px 15px 12px 15px;
  transition: background-color 300ms ease;
}

.info span {
  display: none;
}

@media screen and (max-width: 500px) {
  .info {
    visibility: hidden;
  }
}

.info svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: fill 300ms ease;
}

.info:hover svg {
  fill: #333;
}

.sound-item {
  cursor: pointer;
  height: 92px;
}

.sound-item-icon {
  width: 50px;
  height: 50px;
}

.sound-item-playing {
  background-color: #f2f2f2;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-playing {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.slider {
  padding-right: 15px;
  padding-left: 15px;
}

.slider-dialog {
  width: 120px;
  margin-right: 10px;
}

.slider-system {
  width: 150px;
}

.main-player {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-height: 800px) {
  .main-player {
    position: relative;
  }
}
.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.volume-badge {
  top: 1;
  right: -15;
  border: 2px solid white;
}

.timer-dialog {
  width: 200px;
}

.no-sounds-text {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.timer-text {
  font-weight: 500;
  color: #656565;
  font-size: 16px;
}
